using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using Brainamics.Core;
using System;

[CreateAssetMenu(menuName = "Game/Services/Ads/IronSource Ad Service")]
public class IronSourceAdService : AdServiceBase
{
    private bool _rewarded;

    public IronSourceAdService()
    {
        IronSourceRewardedVideoEvents.onAdOpenedEvent += RewardedVideoOnAdOpenedEvent;
        IronSourceRewardedVideoEvents.onAdClosedEvent += RewardedVideoOnAdClosedEvent;
        IronSourceRewardedVideoEvents.onAdAvailableEvent += RewardedVideoOnAdAvailable;
        IronSourceRewardedVideoEvents.onAdUnavailableEvent += RewardedVideoOnAdUnavailable;
        IronSourceRewardedVideoEvents.onAdShowFailedEvent += RewardedVideoOnAdShowFailedEvent;
        IronSourceRewardedVideoEvents.onAdRewardedEvent += RewardedVideoOnAdRewardedEvent;
        IronSourceRewardedVideoEvents.onAdClickedEvent += RewardedVideoOnAdClickedEvent;

        IronSourceInterstitialEvents.onAdShowSucceededEvent += InterstitialAdShowSucceededEvent;
        IronSourceInterstitialEvents.onAdShowFailedEvent += InterstitialAdShowFailedEvent;
        IronSourceInterstitialEvents.onAdClosedEvent += InterstitialAdClosedEvent;
    }

    public override bool IsVideoAvailable => IronSource.Agent.isRewardedVideoAvailable();

    public override bool IsInterstitialAvailable => IronSource.Agent.isInterstitialReady();

    protected override bool ShowAd()
    {
        switch (CurrentHookParams.Kind)
        {
            case AdKind.Video:
                return ShowVideoAd();

            case AdKind.Interstitial:
                return ShowInterstitialAd();

            default:
                throw new NotImplementedException($"Showing ads of kind '{CurrentHookParams.Kind}' is not implemented.");
        }
    }

    protected override void OnDestroyInternal()
    {
        IronSourceRewardedVideoEvents.onAdOpenedEvent -= RewardedVideoOnAdOpenedEvent;
        IronSourceRewardedVideoEvents.onAdClosedEvent -= RewardedVideoOnAdClosedEvent;
        IronSourceRewardedVideoEvents.onAdAvailableEvent -= RewardedVideoOnAdAvailable;
        IronSourceRewardedVideoEvents.onAdUnavailableEvent -= RewardedVideoOnAdUnavailable;
        IronSourceRewardedVideoEvents.onAdShowFailedEvent -= RewardedVideoOnAdShowFailedEvent;
        IronSourceRewardedVideoEvents.onAdRewardedEvent -= RewardedVideoOnAdRewardedEvent;
        IronSourceRewardedVideoEvents.onAdClickedEvent -= RewardedVideoOnAdClickedEvent;

        IronSourceInterstitialEvents.onAdShowSucceededEvent -= InterstitialAdShowSucceededEvent;
        IronSourceInterstitialEvents.onAdShowFailedEvent -= InterstitialAdShowFailedEvent;
        IronSourceInterstitialEvents.onAdClosedEvent -= InterstitialAdClosedEvent;
    }

    private bool ShowVideoAd()
    {
        if (!IsVideoAvailable)
            return false;

        _rewarded = false;
        if (string.IsNullOrEmpty(CurrentHookParams.PlacementId))
            IronSource.Agent.showRewardedVideo();
        else
            IronSource.Agent.showRewardedVideo(CurrentHookParams.PlacementId);
        return true;
    }

    private bool ShowInterstitialAd()
    {
        if (!IsInterstitialAvailable)
            return false;

        _rewarded = false;
        if (string.IsNullOrEmpty(CurrentHookParams.PlacementId))
            IronSource.Agent.showInterstitial();
        else
            IronSource.Agent.showInterstitial(CurrentHookParams.PlacementId);
        return true;
    }

    private void ResolveCurrentHook()
    {
        if (_rewarded)
            ApproveCurrentHook();
        else
            RejectCurrentHook();
    }

    #region Rewarded Video Event Handlers
    private void RewardedVideoOnAdAvailable(IronSourceAdInfo adInfo)
    {
        SetAdAvailability(true);
    }

    private void RewardedVideoOnAdUnavailable()
    {
        SetAdAvailability(false);
    }

    private void RewardedVideoOnAdOpenedEvent(IronSourceAdInfo adInfo)
    {
    }

    private void RewardedVideoOnAdClosedEvent(IronSourceAdInfo adInfo)
    {
        ResolveCurrentHook();
    }

    private void RewardedVideoOnAdRewardedEvent(IronSourcePlacement placement, IronSourceAdInfo adInfo)
    {
        if (!string.IsNullOrEmpty(CurrentHookParams.PlacementId) && placement.getPlacementName() != CurrentHookParams.PlacementId)
        {
            _rewarded = false;
            return;
        }
        _rewarded = true;
    }

    private void RewardedVideoOnAdShowFailedEvent(IronSourceError error, IronSourceAdInfo adInfo)
    {
        RejectCurrentHook();
    }

    private void RewardedVideoOnAdClickedEvent(IronSourcePlacement placement, IronSourceAdInfo adInfo)
    {
    }
    #endregion

    #region Interstitial Event Handlers
    private void InterstitialAdShowSucceededEvent(IronSourceAdInfo _)
    {
        _rewarded = true;
    }

    private void InterstitialAdShowFailedEvent(IronSourceError _, IronSourceAdInfo __)
    {
        _rewarded = false;
    }

    private void InterstitialAdClosedEvent(IronSourceAdInfo _)
    {
        ResolveCurrentHook();
    }
    #endregion
}